.rc-slider-track {
  background-color: black !important;
}

.rc-slider-handle {
  border: solid 2px black !important;
  background-color: gray !important;
}

.rc-slider-rail {
  background-color: lightgray !important;
}

.rc-slider-mark {
  margin-top: 20px; /* Pushes the marks slightly lower */
}

.rc-slider-mark-text {
  color: black !important;
  font-size: 12px !important;
}

.rc-slider-handle {
  width: 18px !important; /* Make handle bigger */
  height: 18px !important; /* Make handle bigger */
  border: solid 2px black !important;
  background-color: gray !important;
  margin-top: -7px !important; /* Adjust to center the handle */
}
