@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Monoton&display=swap");

@import "tailwindcss";
@plugin "daisyui";

.active {
  color: #ff9540;
}

body {
  font-family: "Lexend Deca", serif;
}

select {
  background-color: #314352;
}

select option:hover {
  background-color: #b412ff;
  color: red;
}

select option {
  background-color: #314252;
  color: #ffff;
}

.extra-font {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-style: normal;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

